In [2]:
import pandas as pd

#### 1. To load the dataset shown in the image below, which command is appropriate? The dataset is named `spending.csv` and is located in the current directory. Additionally, the column order in `spending.csv` matches the order presented in the image.


![image.png](attachment:6d79e1bc-aefd-4a5e-906e-f451f214abb4.png)

```python
1- pd.read_csv("spending.csv", index_col="unique_id")
2- pd.read_csv("spending.csv", columns="unique_id")
3- pd.read_csv("spending.csv")
4- pd.read_csv("spending.csv", ncols=3, usecols=["unique_id", "specialty"])
```

In [4]:
spending_df = pd.read_csv("spending.csv", index_col="unique_id")
spending_df.head()

,doctor_id,specialty,medication,nb_beneficiaries,spending,spending_float
unique_id,,,,,,
BK982218,1750389599,INTERNAL MEDICINE,AZITHROMYCIN,12.0,$77.26,77.26
CG916968,1952344418,CARDIOLOGY,SIMVASTATIN,85.0,$767.83,767.83
SA964720,1669522744,INTERNAL MEDICINE,INSULIN DETEMIR,14.0,$5409.29,5409.29
TR390895,1639597115,NaN,LOSARTAN POTASSIUM,11.0,$65.62,65.62
JA436080,1073781571,NaN,LAMOTRIGINE,12.0,$8873.7,8873.70

#### 2. Assuming the data was saved to `spending_df`, which of the following solutions **are** valid ways  select the column `nb_beneficiaries` from the dataframe above?
   
```python
1- spending_df.iloc[:, 3]
2- spending_df.loc[:, "nb_beneficiaries"]
3- spending_df["nb_beneficiaries"]
4- all of the above
```

#### 3. Assuming the data was saved to spending_df, which of the following solutions is a valid way select rows 0, 3, 7 and 21 from the dataframe above?
```python
1- spending_df[[0, 3, 7, 21]]
2- spending_df[[0, 3, 7, 21],:]
3- spending_df.iloc[[0, 3, 7, 21]]
4- spending_df.iloc[0, 3, 7, 21]
```

#### 4. Which method can be used to count the number of missing values (NaN) in each column as shown below?

```
doctor_id           0
specialty           6
medication          1
nb_beneficiaries    4
spending            4
spending_float      4
dtype: int64
```


```python
1- spending_df.isna()
2- spending_df.isna().sum(axis=0)
3- spending_df.isna().sum(axis=1)
4- spending_df.isna().shape
```

#### 5. Assuming 'spending_df' is a DataFrame with columns including 'specialty' 'spending', and 'nb_beneficiaries', the following code snippet is intended to normalize the 'spending' by 'nb_beneficiaries' (i.e., calculate 'spending' / 'nb_beneficiaries') specifically for entries where the 'specialty' is "INTERNAL MEDICINE". Given that 'spending_df' has a shape of (54, 6) and there are 13 entries with the specialty "INTERNAL MEDICINE" what does the following snippet return?

```python
internal_med_filter = spending_df["specialty"] == "INTERNAL MEDICINE"
type(spending_df["spending_float"][internal_med_filter] / spending_df["nb_beneficiaries"])
```

```python
1- Error!
2- Series with a dimension of (54, 1)
3- Series with a dimension of (13, )
4- Series with a dimension of (1, 6)
```

In [37]:
spending_df["spending_float"] [internal_med_filter].shape

(13,)

In [36]:
internal_med_filter = spending_df["specialty"] == "INTERNAL MEDICINE"
spending_df["spending_float"][internal_med_filter] / spending_df["nb_beneficiaries"]

unique_id
AD891213           NaN
AL166376           NaN
AU352153           NaN
AX468217           NaN
BK982218      6.438333
BT820276           NaN
BU202944           NaN
CF887728           NaN
CG865025           NaN
CG916968           NaN
CQ964168           NaN
DA943932           NaN
DJ966828           NaN
DT789371           NaN
EQ932492           NaN
ES437458           NaN
FE564384           NaN
FV632964           NaN
GD287242           NaN
GF883895           NaN
IC286267      6.429245
JA436080           NaN
JX313970           NaN
MG439448           NaN
MK361461           NaN
NH872050     12.221860
NM108377           NaN
OB710833           NaN
ON964391           NaN
OR161686           NaN
PC409862     25.914167
PK692876     10.281765
PM639115           NaN
QK186918    403.291582
RH274400           NaN
SA964720    386.377857
SU398849     41.234667
SU660670      4.755600
TR390895           NaN
TU901486           NaN
UB518915           NaN
UM165381           NaN
UP346469           NaN
US339660           NaN
VY752576           NaN
VZ416961           NaN
WO822855           NaN
WO875842           NaN
XI271888    277.117568
XT297229           NaN
YG219581           NaN
YN526335           NaN
YS123432           NaN
ZP892365           NaN
dtype: float64

In [25]:
test = pd.Series([1,2,3,4])
test[[True, True, False, False]]

0    1
1    2
dtype: int64

In [21]:
spending_df["spending_float"][internal_med_filter]

unique_id
BK982218       77.26
CG916968      767.83
SA964720     5409.29
TR390895       65.62
JA436080     8873.70
WO822855         NaN
PC409862      310.97
CG865025     2726.72
XI271888    10253.35
EQ932492      355.43
DT789371     2565.44
IC286267      340.75
PK692876      349.58
AX468217     2791.18
SU660670      118.89
UP346469     2837.07
DA943932    15272.18
ZP892365      440.79
TU901486     3078.49
US339660     2239.34
JX313970     8045.03
SU398849      618.52
BU202944     1456.08
RH274400     1491.24
ON964391     1730.84
CQ964168     1219.38
AL166376       89.30
GD287242     5846.93
BT820276      327.12
AD891213         NaN
VY752576     2052.04
GF883895     2547.07
MK361461     1608.42
CF887728     8934.45
FE564384    15640.59
UB518915     3147.16
UM165381      501.79
YS123432      265.49
DJ966828    10869.06
VZ416961      218.56
FV632964    76346.72
AU352153      401.89
PM639115      814.71
OB710833       74.37
NH872050      525.54
MG439448     1910.22
WO875842      180.08
YN526335      615.66
ES437458         NaN
NM108377         NaN
YG219581     4341.38
QK186918    79045.15
OR161686      361.43
XT297229      248.95
Name: spending_float, dtype: float64

#### 6. Which of the following code snippets can be used to __**filter out**__ instances where `specialty` is "INTERNAL MEDICINE" and `nb_beneficiaries` is greater than or equal to 12?


```python
1- spending_df[not (spending_df["specialty"] == "INTERNAL MEDICINE") and  (spending_df["nb_beneficiaries"] >= 12)]
1- spending_df[(spending_df["specialty"] == "INTERNAL MEDICINE") and  (spending_df["nb_beneficiaries"] >= 12)]
3- spending_df[~((spending_df["specialty"] == "INTERNAL MEDICINE") &  (spending_df["nb_beneficiaries"] >= 12))]
4- spending_df[(spending_df["specialty"] != "INTERNAL MEDICINE") &  (spending_df["nb_beneficiaries"] >= 12)]
```

#### 7. Which of the following snippets returns the number of rows where `nb_beneficiaries` is greater than 100?

```python
1- (spending_df['nb_beneficiaries'] > 100).sum()
2- spending_df['nb_beneficiaries'] > 100
3- spending_df[(spending_df['nb_beneficiaries'] > 100)].shape[0]
4- (spending_df['nb_beneficiaries'] > 100).shape[0]
```

In [46]:
(spending_df['nb_beneficiaries'] > 100).shape[0]

54

In [43]:
spending_df[(spending_df['nb_beneficiaries'] > 100)].shape[0]

8

#### 8. Consider the the two following DataFrames:
```python
first_df  = pd.DataFrame({"A": [1, 2, 3, 4, 5]})
second_df =  pd.DataFrame({"A": [1, 2, 3, 4, 5]}, index= [f"row_{i}" for i in range(5)])
```

![image.png](attachment:03926fcb-9bcb-45b1-a967-43f47ba87064.png)


What does the following snippet return? 

```python
(first_df["A"] + second_df["A"]).shape
```

```python
1- (10,)
2- (5,)
3- (5,2)
4- Error
```

In [47]:
first_df  = pd.DataFrame({"A": [1, 2, 3, 4, 5]})
second_df =  pd.DataFrame({"A": [1, 2, 3, 4, 5]}, index= [f"row_{i}" for i in range(5)])

In [48]:
first_df

   A
0  1
1  2
2  3
3  4
4  5

In [49]:
second_df

       A
row_0  1
row_1  2
row_2  3
row_3  4
row_4  5

In [50]:
first_df + second_df

        A
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
row_0 NaN
row_1 NaN
row_2 NaN
row_3 NaN
row_4 NaN